{% extends "includes/base.html" %}

{% block title %}
Homepage: Welcome to My Homepage
{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Just Anything</h1>
        </div>
        <div id="display" class="container d-flex">
            {% for datum in data %}
            <!-- product card START -->
            <div class="card m-2" style="width: 18rem;">
                <img src="{{ datum['img'] }}" class="card-img-top h-auto" alt="{{ datum['category'] }}">
                <div class="card-body">
                    <h5 class="card-title"> {{ datum["title"] }} </h5>
                    <p class="card-text">$ {{ datum["price"] }}</p>
                    <p class="card-text">{{ datum["desc"] | truncate(100) }}</p>
                    <span class="d-flex justify-content-between">
                        <a href="#" class="btn btn-success">Buy</a>
                        <a href="{{ url_for('product', id=datum['id'])}}" class="btn btn-info">More Info</a>
                    </span>
                </div>
            </div>
            <!-- Product Card END -->
            {%endfor%}
        </div>
        <style>
            #display {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
        </style>

</div>
{% endblock %}