{% extends "includes/base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<!-- Login Form -->
<div class="container">
    <!-- Add product form START -->
    <div class="row">
        <div class="row">
            <h2>Welcome to the login page</h2>
            <p>Please fill out the form accordingly</p>
            <small>All fields marked <span class="text-danger">*</span> are compulsory</small>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <form action="">
                {{ csrf_token }}

                <div class="form-group">
                    {{ login.email.label(class_="mt-3") }}<span class="text-danger">*</span>
                    {{ login.email(class_="form-control") }}
                </div>

                <div class="form-group">
                    {{ login.password.label(class_="mt-3") }}<span class="text-danger">*</span>
                    {{ login.password(class_="form-control") }}
                </div>

                {{ login.submit(class_="btn btn-primary mb-3 mt-3") }}

            </form>
        </div>
    </div>
</div>
{% endblock %}