<!-- [DONE] -->
{% extends "includes/base.html" %}

<!-- Use the product name to display the title -->
{% block title %}
{{product_jinja["title"]}}
{% endblock %}

{% block content%}
<!-- Product Title Start -->
<h1>
    {{product_jinja["title"]}}
</h1>
<!-- Product Title End -->

<!-- Product Price Start -->
<p>
    Price:{{product_jinja["price"]}}
</p>
<!-- Product Price End -->

<!-- Product Description Start -->
<!-- ampersand & -->
<p>
    {{product_jinja["description"]}}(&lt;- That is a description incase you don't know)
</p>
<!-- Product Description End -->

<!-- Product Category Start -->
<p>
    Category:{{product_jinja["category"]}}
</p>
<!-- Product Category End -->

<!-- Product Image Start -->
<img src="{{product_jinja['image']}}" alt="{{ product_jinja['category'] }}">
<!-- Product Image Start -->
<p>
    rating:{{product_jinja["rating"]}}
</p>
{% endblock %}